.header {
  
  background-color: #0f172a;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.header-title {
  font-size: xx-large;
  color: white;
  font-weight: bolder;
}

.signin button {
  font-size: x-large;
  background-color: transparent;
  color: white;
  border: transparent;
}