.input-form {
  background-color: #f1f5f9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  gap: 20px;
  height: min-content;
}

.input-form > button {
  height: 35px;
  border: transparent;
  font-weight: bold;
  color: white;
  background-color: blue;
}