.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  background-color: #cbd5e1;
}

.container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  gap: 10px;
}
.main > button {
  height: 35px;
  border: transparent;
  font-weight: bold;
  color: white;
  background-color: blue;
  width: 100%;
}